<br /><br /><br /><br />

<div style="float: left; width: 320px">
	<canvas id="snapshot" width="320px" height="240px"></canvas>
</div>
<div style="float:left">
    <br /><br />
    Email: <input type="text" ng-model="user.email" />
    <br /><br />
    User Name: <input type="text" ng-model="user.username" />
    <br />
    <ul class="list">
    	<li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="" style="padding: 0px">
           </label>
           Direct Clinical Care
        </li>
    	<li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="" style="padding: 0px">
           </label>
           Health Professional Education
        </li>
    	<li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="" style="padding: 0px">
           </label>
           Medical Journal Publication
        </li>
    	<li class="item item-checkbox">
           <label class="checkbox">
             <input type="checkbox" checked="" style="padding: 0px">
           </label>
           Patient and Family Education
        </li>
    </ul>
    <button class="button button-positive" id="allow" ng-click="savePhoto()">Allow</button>
</div>